<template>
  <div>
      <router-link :to="{name: 'HelloWorld'}">Hello world</router-link>
      <router-link :to="{name: 'UserList'}">Users</router-link>
  </div>
</template>
<script>
export default {
  name: 'Navigation'
}
</script>
