<template>
  <div>
    User Detail: {{userId}}<br/>
    {{userDetail}}
  </div>
</template>
<script>
import * as userService from '../services/users.js'
export default {
  name: 'UserDetail',
  created () {
    this.userId = this.$route.params.id
    this.getUserDetail(this.userId)
  },
  data () {
    return {
      userId: null,
      userDetail: null
    }
  },
  methods: {
    getUserDetail () {
      userService.getUserDetail(this.userId)
        .then(
          (response) => {
            this.userDetail = response.data
          }  
        ) 
    }
  }
}
</script>

