<template>
  <div>
    User List: {{message}}
    <user-thumbnail 
      v-for="(user, index) in userList"
      :user="user"
      :key="'user-' + index"></user-thumbnail>
  </div>
</template>
<script>
import * as userService from '../services/users.js'
import UserThumbnail from './user-thumbnail'
export default {
  name: 'UserList',
  data () {
    return {
      message: 'Hello World',
      userList: []
    }
  },
  components: {
    'user-thumbnail': UserThumbnail
  },
  created () {
    this.getAllUsers()
  },
  methods: {
    getAllUsers () {
      userService.getAllUsers()
        .then(
          (response) => {
            this.userList = response.data
          }
        )
    }
  }
}
</script>
