<script>
export default {
  name: 'UserThumbnail',
  props: {
    user: {
      type: Object,
      required: false
    }
  }
}
</script>
<template>
  <div>
      Name: <router-link :to="{name: 'UserDetail', params: {id: user.id}}">{{user.name}}</router-link><br/>
      Username: {{user.username}}<br/>
      Email: <small>{{user.email}}</small><br/>
      <hr/>
  </div>
</template>

